[submodule "third_party/celestia-core"]
	path = third_party/celestia-core
	url = git@github.com:0x19/celestia-core.git
[submodule "third_party/boxo"]
	path = third_party/boxo
	url = git@github.com:0x19/boxo.git
[submodule "third_party/go-fraud"]
	path = third_party/go-fraud
	url = git@github.com:danielvladco/go-fraud.git
[submodule "third_party/go-merkledag"]
	path = third_party/go-merkledag
	url = git@github.com:danielvladco/go-merkledag.git
[submodule "third_party/go-libp2p-kad-dht"]
	path = third_party/go-libp2p-kad-dht
	url = git@github.com:danielvladco/go-libp2p-kad-dht.git
[submodule "third_party/opentelemetry-go"]
	path = third_party/opentelemetry-go
	url = git@github.com:danielvladco/opentelemetry-go.git
[submodule "third_party/go-libp2p-routing-helpers"]
	path = third_party/go-libp2p-routing-helpers
	url = git@github.com:danielvladco/go-libp2p-routing-helpers.git
[submodule "third_party/celestia-app"]
	path = third_party/celestia-app
	url = git@github.com:danielvladco/celestia-app.git
[submodule "third_party/tm-db"]
	path = third_party/tm-db
	url = git@github.com:danielvladco/tm-db.git
[submodule "third_party/cosmos-sdk"]
	path = third_party/cosmos-sdk
	url = git@github.com:0x19/cosmos-sdk.git
[submodule "third_party/go-header"]
	path = third_party/go-header
	url = git@github.com:danielvladco/go-header.git
[submodule "third_party/iavl"]
	path = third_party/iavl
	url = git@github.com:danielvladco/iavl.git
